<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>gaWZvEkzQraiBu51eD0MRQ</string>
	<key>developmentAppSecret</key>
	<string>3t-ckZNkTF-eP43orqdsYA</string>
	<key>productionAppKey</key>
	<string>WhfclH6JQVeMkJjIiqrz1A</string>
	<key>productionAppSecret</key>
	<string>Nc140s2MTBCCWHsl1su-zw</string>
</dict>
</plist>
